name: Pull Request Check # 워크플로우 이름

on: # 워크플로우 실행 트리거
  pull_request: # pull_request가 이벤트에 대해
    types: [opened, synchronize] # opened 및 synchronize 이벤트에 대해 트리거

jobs: # 작업 정의
  check: # check라는 이름의 작업
    runs-on: ubuntu-latest # Ubuntu 환경에서 실행
    permissions: # 권한 설정
      pull-requests: write # PR에 대해 쓰기 권한 설정
    steps: # 작업 단계
      - uses: actions/github-script@v7 # Github 스크립트 액션 사용
        with: # 옵션 설정
          script: | # 스크립트 시작
            const pull_request = context.payload.pull_request; # pull_request 객체 가져오기

            if (pull_request === undefined) { # pull_request가 없는 경우
                console.log("This is not a pull request"); # "This is not a pull request" 출력
                return; # 종료
            }

            const body = pull_request.body;

            if (!body) {
              // PR에 코멘트를 추가합니다.
              await github.rest.issues.createComment({ // PR에 코멘트 추가
                  owner: context.repo.owner, // 저장소 소유자
                  repo: context.repo.repo, // 저장소 이름
                  issue_number: pull_request.number, // PR 번호
                  body: "해당 PR은 가이드라인을 준수하지 않았습니다. 때문에 PR을 닫도록 하겠습니다. 가이드라인을 준수해서 다시 PR 요청을 해주세요", // 코멘트 내용
              });

              // PR을 닫습니다.
              await github.rest.pulls.update({ // PR을 닫음
                  owner: context.repo.owner, // 저장소 소유자
                  repo: context.repo.repo, // 저장소 이름
                  pull_number: pull_request.number, // PR 번호
                  state: "closed", // 상태를 닫힘으로 변경
              });
            }
        
